/* Styling for orbits.html, currently only canvas elements */

body {
    font-size: 100%;
    background-color: #808080;
}

input {
    background-color: #c0c0c0;
}

#fgorbitn, #fgorbitgr, #tracks, #bgorbit {
    left: 560px;
    top: 0px;
}

#fgpotn, #fgpotgr, #bgpot {
    left: 10px;
    top: 450px;
}

.bg {
    z-index: -1;
}

.tracks {
    z-index: 0;
}

.fgn {
    z-index: 1;
}

.fggr {
    z-index: 2;
}

.canvas {
    position: absolute;
    border: 1px solid #404040;
}

.newton {
    color: #004000;
}

.gr {
    color: #000080;
}

.newton, .gr {
    font-family: sans-serif;
    font-size: 90%;
}
